body {
    color: black;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    display: block;
    unicode-bidi: isolate;
}

.header-section {
    width: 100%;
    background-color: #212a39;
    padding: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99999;
}

.py-1 {
    padding-top: .25rem !important;
    padding-bottom: .25rem !important
}

.p-0 {
    padding: 0 !important;
}

.container-fluid {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto
}

.header-section .header-wrapper {
    padding: 10px;
}

.header-wrapper .menu_left_wrapper {
    display: flex;
    align-items: center;
    color: white;
}

.header-wrapper {
    justify-content: space-between;
    transform: all .9s;
}



@media screen and (max-width: 1199px) {
    .main_tab_slide {
        top: 74px;
    }
}

@media screen and (max-width:1199px) {
    .main_tab_slide {
        overflow-x: scroll;
        padding: 9px 14px;
    }
}

.main_tab_slide {
    background-color: #16202c;
    padding: 20px 40px;
    position: -webkit-sticky;
    position: sticky;
    top: 73px;
    z-index: 2;
}

.main_tab_slide .nav {
    width: 2250px;
    gap: 8px 8px;
    border: unset;
    outline: none;
    box-shadow: none;
    color: white;
}

.nav-tabs {
    --bs-nav-tabs-border-width: var(--bs-border-width);
    --bs-nav-tabs-border-color: var(--bs-border-color);
    --bs-nav-tabs-border-radius: var(--bs-border-radius);
    --bs-nav-tabs-link-hover-border-color: var(--bs-secondary-bg) var(--bs-secondary-bg) var(--bs-border-color);
    --bs-nav-tabs-link-active-color: var(--bs-emphasis-color);
    --bs-nav-tabs-link-active-bg: var(--bs-body-bg);
    --bs-nav-tabs-link-active-border-color: var(--bs-border-color) var(--bs-border-color) var(--bs-body-bg);
    border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}

.main__tab__slide .nav .nav-item .nav-link.active {
    border: none;
    outline: none;
    box-shadow: none;
    color: var(--white);
}

.main__tab__slide .nav .nav-item .nav-link {
    background: transparent;
    color: var(--theme-one);
    font-weight: 600;
    line-height: 22px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    outline: none;
    padding: 0;
    box-shadow: none;
    border: none;
    border-radius: 0;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

@media screen and (max-width: 767px) {
    .main__tab__slide .nav .nav-item .nav-link {
        padding: 3px 10px 1px;
        display: grid;
        grid-gap: 0 5px;
        gap: 0 5px;
        background: var(--header);
        width: 150px;
        height: 70px;
        border-radius: 4px;
    }
}



.nav-tabs .nav-link {
    margin-bottom: calc(-1* var(--bs-nav-tabs-border-width));
    border: var(--bs-nav-tabs-border-width) solid transparent;
    border-top-left-radius: var(--bs-nav-tabs-border-radius);
    border-top-right-radius: var(--bs-nav-tabs-border-radius);
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: none;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}