<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale = 1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>2024 Paris Olympics Prediction</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    </head>

    <body>

        <header class="header-section py-1 py-lg-3">
            <div class="container-fluid p-0">
                <div class="header-wrapper">
                    <div class="menu_left_wrapper">
                        2024 Paris Olympics Prediction
                    </div>
                </div>
            </div>
        </header>



    </body>

</html>