<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2024 Paris Olympics Prediction</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="logo">
                <a href="contact.html">
                    <img src="/static/logo.png" alt="Data Bolt Logo">
                </a>
            </div>
            <nav class="navbar">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="graphs.html">More Graphs</a></li>
                    <li><a href="information.html">Information</a></li>
                    <li><a href="{{ url_for('static', filename='webpages/contact.html') }}">Contact Us</a></li>
                </ul>
            </nav>
        </header>

        <div class="intro">
            <h1>Olympics 2024 Prediction</h1>
            <h2>Brought to you by Data Bolt</h2>
        </div>

        <div class="content-section">
            <img src="/static/Figure_1.png" alt="Olympics Image">
            <div class="text-content">
                <h3>Subheading</h3>
                <p>Empty</p>
                <p>a</p>
            </div>
            <div class="button">Olympic Event</div>
        </div>

        <div class="content-section">
            <img src="https://via.placeholder.com/160x160" alt="Placeholder Image">
            <div class="text-content">
                <h3>Title</h3>
                <p>Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story.</p>
                <div class="button">Button</div>
            </div>
        </div>

        <footer class="footer">
            <h3>This is the heading</h3>
            <p>This is the subheading</p>
            <div class="empty-state">
                <span>Empty State</span>
                <div></div>
            </div>
            <div class="empty-state">
                <span>Empty State</span>
                <div></div>
            </div>
            <div class="empty-state">
                <span>Empty State</span>
                <div></div>
            </div>
        </footer>

        <div class="end-of-results">
            <div></div>
            <span>END OF RESULTS</span>
            <div></div>
        </div>
    </div>
</body>

</html>
